textarea{
  width: 100%;
}

#rdf-store-menu{
  margin-top: 10px;
}

#sparql-query-text{
  height: 20em;
}

.table-borderless td{
  width: 33%;
}

#lbl-pages{
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
}

#btn-prev{
  text-align: right;
}

#btn-next{
  text-align: left;
}
