{% extends "main.html" %}

{% block title%}API Documentation - SaGe{% endblock %}

{% block body %}
<style media="screen">
  .col {
    width: auto;
  }
</style>

<div class="container">
  <div id="swaggerWidget"></div>
</div>

<script src="{{ url_for('static', filename='node_modules/swagger-ui-dist/swagger-ui-bundle.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  SwaggerUIBundle({
    dom_id: '#swaggerWidget',
    url: '/api'
  })
</script>
{% endblock %}
