{% if server_public_url %}
<div class="container" id="query">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="fab fa-hubspot"></i> Query online Linked Data using SaGe</h2>
      <p><em>Running in your Web Browser, powered by the <a href="https://github.com/sage-org/sage-client">SaGe Javascript client</a></em></p>
      <p>Execute SPARQL queries against any RDF datasets hosted by the SaGe server,
      using a client-server query engine running in your browser</p>
      <p>
        <a href="{{ url_for('sparql11_compliance') }}">
          See the supported SPARQL 1.1 features
        </a>
      </p>
      <div id="sage-widget"
        url="{{ server_public_url }}"
        defaultServer="{{ url_for('sparql-interface.sparql_query', graph_name=default_query.dataset_name, _external=True) }}"
        defaultQuery="{{ default_query.value }}"
        defaultQName="{{ default_query.name }}">
      </div>
    </div>
  </div>
</div>
{% endif %}
