<div class="container" id="software">
  <div class="row">
    <div class="col-lg">
      <h2><i class="fas fa-wrench"></i> Software</h2>
      <p>Query and publish RDF datasets using SaGe servers using these client or server implementations.</p>
      <div class="row">
        <div class="col">
          <div class="card">
            <center class="card-img-top"><i class="fa-8x fab fa-python"></i></center>
            <div class="card-body">
              <h5 class="card-title">SaGe server - Python</h5>
              <div class="card-text">
                <p>
                  Publish your own datasets using the reference SaGe implementation in Python.
                  Currenlty only supports datasets in the <a href="http://www.rdfhdt.org/">HDT format</a>.
              </p>
              </div>
              <a href="https://github.com/sage-org/sage-engine" class="btn btn-primary">
                <i class="fas fa-download"></i> Download
              </a>
              <!-- <a href="https://github.com/sage-org/sage-engine" class="btn btn-primary">
                <i class="fab fa-github"></i> See on Github
              </a> -->
              <a href="https://cloud.docker.com/repository/docker/callidon/sage" class="btn btn-primary">
                <i class="fab fa-docker"></i> Docker image
              </a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <center><i class="card-img-top fab fa-8x fa-java"></i></center>
            <div class="card-body">
              <h5 class="card-title">SaGe client - Apache Jena</h5>
              <p class="card-text">Based on <a href="https://jena.apache.org/">Apache jena</a>, this client supports the full SPARQL 1.1 syntax, including federated SPARQL queries.</p>
              <a href="https://github.com/sage-org/sage-jena/releases" class="btn btn-primary">
                <i class="fas fa-download"></i> Download
              </a>
              <a href="https://github.com/sage-org/sage-jena" class="btn btn-primary">
                <i class="fab fa-github"></i> See on Github
              </a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <center><i class="card-img-top fab fa-8x fa-js"></i></center>
            <div class="card-body">
              <h5 class="card-title">SaGe client - Javascript</h5>
              <p class="card-text">The SaGe javascript client allows you to execute SPARQL 1.1 queries in any browser
              or using <a href="https://nodejs.org/en/">Node.js</a>.</p>
              <a href="https://github.com/sage-org/sage-client" class="btn btn-primary">
                <i class="fas fa-download"></i> Download
              </a>
              <a href="https://github.com/sage-org/sage-client" class="btn btn-primary">
                <i class="fab fa-github"></i> See on Github
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
