<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='sage_logo.png') }}" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/sage-widget/dist/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/swagger-ui-dist/swagger-ui.css') }}">
    <!-- Google Analytics -->
    {% if config["google_analytics"] %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config["google_analytics"] }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <!-- End Google Analytics -->
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('index') }}#">
        <img src="{{ url_for('static', filename='sage_logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">SaGe
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}#"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}#query"><i class="fab fa-hubspot"></i> Query</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}#datasets"><i class="fas fa-database"></i> Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}#software"><i class="fas fa-wrench"></i> Software</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sparql11_compliance') }}"><i class="fas fa-check-circle"></i> SPARQL compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('specs') }}"><i class="fas fa-server"></i> Server specs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('doc') }}"><i class="fas fa-book"></i> API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/sage-org"><i class="fab fa-github"></i> See on Github</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="home">
      {% block body %}{% endblock %}
    </div>
    <hr>
    <footer class="footer">
      <div class="container">
        <p class="text-center">&#9400; 2017–{{ config["now_year"] }} <a href="https://sites.google.com/site/gddlina/">GDD Team</a>, <a href="https://www.ls2n.fr?lang=en">LS2N</a>, <a href="http://www.univ-nantes.fr/">University of Nantes</a></p>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='node_modules/sage-client/dist/sage-client.bundle.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='node_modules/sage-widget/dist/sage-widget.bundle.js') }}" type="text/javascript" charset="utf-8"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
