{% extends "main.html" %}

{% block title %}API Documentation - Sage{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>API documentation</h1>

      <h3><strong>POST</strong> <span class="text-primary">/sparql/&lt;dataset_name&gt;</span></h3>
      <p><strong>Example:</strong> {{ url_for('sparql-interface.sparql_query', dataset_name="watdiv10m") }}</p>

      <h4>Accepted media types</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Accept</th>
              <th>Description</th>
              <th>Specification</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>application/json</code></td>
              <td>Javascript Object Notation</td>
              <td><a href="https://www.json.org/">https://www.json.org/</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4>JSON POST parameters</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Required</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>query</code></td>
              <td>JSON Object</td>
              <td>yes</td>
              <td></td>
              <td>Content of the query to be evaluated</td>
            </tr>
            <tr>
              <td><code>next</code></td>
              <td>string</td>
              <td>no</td>
              <td><code>null</code></td>
              <td>A link used to resume query exection from a saved state</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p><strong>Example request</strong></p>
      <pre>
        POST /sparql/dbpedia-3.5 HTTP/1.1
        Host: example.com
        Accept: application/json
        Content-Type: application/json

        {
          "query": {
            "type": "bgp",
            "bgp": [
              {
                "subject": "http://dbpedia.org/resource/Burn_After_Reading",
                "predicate": "http://www.w3.org/1999/02/22-rdf-syntax-ns#type",
                "object": "?o"
              }
            ]
          },
          "next": null
        }
      </pre>

      <h4>Response content</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>bindings</code></td>
              <td>Array of JSON Objects</td>
              <td>Solution bindings</td>
            </tr>
            <tr>
              <td><code>pageSize</code></td>
              <td>integer</td>
              <td>Number of solution bindings in this page</td>
            </tr>
            <tr>
              <td><code>hasNext</code></td>
              <td>boolean</td>
              <td><code>True</code> if there is a next page after this one, <code>False</code> otherwise</td>
            </tr>
            <tr>
              <td><code>next</code></td>
              <td>string</td>
              <td>'Next' link that can be used to fetch the next page of solution bindings</td>
            </tr>
            <tr>
              <td><code>stats</code></td>
              <td>JSON Object</td>
              <td>Some statistics about query execution</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p><strong>Example response</strong></p>
      <pre>
        HTTP/1.1 200 OK
        Vary: Accept
        Content-Type: application/json

        {
          "bindings": [
            {
              "?o": "http://dbpedia.org/ontology/Film"
            },
            {
              "?o": "http://schema.org/CreativeWork"
            }
          ],
          "pageSize": 2,
          "hasNext": true,
          "next": "link to the next page",
          "stats": {
            "import": 0.02,
            "export": 0.05,
            "cardinalities": [

            ]
          }
        }
      </pre>
    </div>
  </div>
</div>
{% endblock %}
