{% extends "main.html" %}

{% block title %}Home - Sage{% endblock %}

{% block body %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client.css') }}">
  <div id='target'></div>

  <script type='text/javascript' src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/jquery.tmpl.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/knockout/build/output/knockout-latest.js') }}" charset="utf-8"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/rdfstore.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/client_frontend.js') }}"></script>
  <script type='text/javascript'>
    jQuery(document).ready(function(){
    frontend = null;
      rdfstore.create({"communication": {
                         "parsers": {
                           "text/html" :           ClientFrontend.rdfaParser,
                           "application/rdf+xml":  ClientFrontend.rdfParser
                         },
                        "precedences": ["text/n3", "text/turtle", "application/rdf+xml", "text/html", "application/json"] }
                      },
                      function(err, store) {
                        frontend = new client_frontend('#target',store);
                        {% for dinfo in datasets %}
                          var ds = "{{ dinfo }}";
                          var parser = new DOMParser;
                          var dom = parser.parseFromString(
                              '<!doctype html><body>' + ds,
                              'text/html');
                          var decodedString = dom.body.textContent;
                          var toParse = decodedString.replace(/\'/g,"\"");
                          var dataset = JSON.parse(toParse);
                          var html = '<a class="dropdown-item" href="#" title="https://sage.univ-nantes.fr/sparql/'+dataset.name+'">'+dataset.name+'</a>'
                          jQuery('#datasetList').append(html);
                        {% endfor %}
                        var btns = jQuery('#datasetList')[0].children;
                        jQuery('#sparql-server-text').val(btns[0].title);
                        for (var i = 0; i < btns.length; i++) {
                          btns[i].onclick = function(sender){
                            jQuery('#sparql-server-text').val(sender.target.title);
                          };
                        }
                      });

    });
  </script>
{% endblock %}
