<div class="container" id="datasets">
  <div class="row">
    <h1>RDF datasets</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Dataset</th>
            <th>Description</th>
            <th>Time quota</th>
            <th>Max results per request</th>
            <th>Interface URL</th>
          </tr>
        </thead>
        <tbody>
          {% for dataset in api["supportedClass"] %}
          <tr>
            <td>
              <a href="{{ url_for('sparql-interface.sparql_query', dataset_name=dataset["title"]) }}">
                {{ dataset["title"] }}
              </a>
            </td>
            <td>{{dataset["description"]}}</td>
            <td>{{dataset["timeQuota"]}}ms</td>
            {%- if dataset["maxResults"] == 'inf' -%}
            <td>No limit</td>
            {%- else -%}
            <td>{{dataset["maxResults"]}} bindings</td>
            {%- endif -%}
            <td><a href="{{ url_for('sparql-interface.sparql_query', dataset_name=dataset["title"]) }}">{{ url_for('sparql-interface.sparql_query', dataset_name=dataset["title"]) }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
