{% extends "main.html" %}

{% block title %}SaGe interface{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <h1>RDF datasets</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Dataset</th>
          <th>Description</th>
          <th>Time quota (ms)</th>
          <th>Sage interface</th>
        </tr>
      </thead>
      <tbody>
        {% for dataset in api["supportedClass"] %}
        <tr>
          <td>
            <a href="{{ url_for('sparql-interface.sparql_query', dataset_name=dataset["title"]) }}">
              {{ dataset["title"] }}
            </a>
          </td>
          <td>{{dataset["description"]}}</td>
          <td>{{dataset["timeQuota"]}}</td>
          <td><a href="{{ url_for('sparql-interface.sparql_query', dataset_name=dataset["title"]) }}">{{ dataset['@id'] }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
