<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Sage: Any SPARQL Query, Stable and Responsive</h2>
      <p> Sage is a SPARQL query engine designed for Public Linked Data Servers. Sage provides a stable and
  responsive endpoint for the web of data community. Sage provides a Fair Use Policy of server ressources 
  without dropping queries. Consequently, it can run any query, of any duration.  
        
  On performances, on the WatDiv Benchmark, Sage outperforms all state of approaches by several order of magnitude 
  when the load is increasing on the server. Experimental results and details on the approach are available at: <a href="https://hal.archives-ouvertes.fr/hal-01806486v1">https://hal.archives-ouvertes.fr/hal-01806486v1</a>
        
      </p>
    </div>
  </div>
</div>
