<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/sage-widget/dist/main.css') }}">
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('index') }}#">Sage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}#"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}#query"><i class="fab fa-hubspot"></i> Query</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}#datasets"><i class="fas fa-database"></i> Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}#software"><i class="fas fa-wrench"></i> Software</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('doc') }}"><i class="fas fa-book"></i> Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sparql11_compliance') }}"><i class="fas fa-check-circle"></i> SPARQL 1.1 compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/sage-org/sage-engine"><i class="fab fa-github"></i> See on Github</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="home">
      {% block body %}{% endblock %}
    </div>
    <hr>
    <footer class="footer">
      <div class="container">
        <p class="text-center">&#9400;2017–2018 <a href="https://sites.google.com/site/gddlina/">GDD Team</a>, <a href="https://www.ls2n.fr/">LS2N</a>, <a href="http://www.univ-nantes.fr/">University of Nantes</a></p>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='node_modules/sage-client/dist/sage-client.bundle.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='node_modules/sage-widget/dist/sage-widget.bundle.js') }}" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
