{% extends "main.html" %}

{% block title%}{{ dataset_info['title'] }} dataset - Sage{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg">
      <h1>{{ dataset_info['title'] }} dataset</h1>

      <h3><i class="fas fa-pencil-alt"></i> Description</h3>
      <p>{{ dataset_info['description'] }}</p>

      <h3><i class="fab fa-hubspot"></i> Query this dataset</h3>
      <p><strong>URL:</strong> <a href="{{ dataset_info['@id'] }}">{{ dataset_info['@id'] }}</a></p>
      <p>Take a look at <a href="{{ url_for('index') }}#software">exisiting Sage clients</a></p>

      <h3><i class="fas fa-clipboard-list"></i> Statistics</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>RDF triples</th>
              <th>Subjects</th>
              <th>Predicates</th>
              <th>Objects</th>
              <th>Time quota</th>
              <th>Max results per request</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ "{:,}".format(dataset_info["stats"]["size"]) }} triples</td>
              <td>{{ "{:,}".format(dataset_info["stats"]["nb_subjects"]) }}</td>
              <td>{{ "{:,}".format(dataset_info["stats"]["nb_predicates"]) }}</td>
              <td>{{ "{:,}".format(dataset_info["stats"]["nb_objects"]) }}</td>
              <td>{{ dataset_info["timeQuota"] }}ms</td>
              {%- if dataset_info["maxResults"] == 'inf' -%}
                <td>No limit</td>
              {%- else -%}
                <td>{{dataset_info["maxResults"]}} bindings</td>
              {%- endif -%}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
