{% extends "main.html" %}

{% block title%}{{ dataset_info['title'] }} dataset - Sage{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg">
      <h1>{{ dataset_info['title'] }} dataset</h1>

      <h3><i class="fas fa-pencil-alt"></i> Description</h3>
      <p>{{ dataset_info['description'] }}</p>

      <h3><i class="fab fa-hubspot"></i> Query this dataset</h3>
      <p><strong>URL:</strong> <a href="{{ dataset_info['@id'] }}">{{ dataset_info['@id'] }}</a></p>
      <p>
        Take a look at <a href="{{ url_for('index') }}#software">existing Sage clients</a>
        for evaluating SPARQL queries against this dataset.
    </p>

      <h3><i class="fas fa-sitemap"></i> VoID description</h3>
      <p>Access the <a href="https://www.w3.org/TR/void/">VoID description</a> of the dataset at
        <a href="{{ url_for('void-interface.void_dataset', dataset_name=dataset_info["title"]) }}">
          {{ url_for('void-interface.void_dataset', dataset_name=dataset_info['title'], _external=True) }}
        </a>.
      </p>
      <!-- VoID descriptions -->
      <p>
        View the VoID description in 
        <a class="btn btn-primary" data-toggle="collapse" href="#voidNTriples" role="button" aria-expanded="false" aria-controls="voidNTriples">
          N-Triples
        </a>
        <a class="btn btn-primary" data-toggle="collapse" href="#voidTurtle" role="button" aria-expanded="false" aria-controls="voidTurtle">
          Turtle
        </a>
        <a class="btn btn-primary" data-toggle="collapse" href="#voidXML" role="button" aria-expanded="false" aria-controls="voidXML">
          XML
        </a>
      </p>
      <div class="collapse" id="voidNTriples">
        <div class="card card-body">
          <pre>{{ void_desc["nt"] }}</pre>
        </div>
      </div>
      <div class="collapse" id="voidTurtle">
        <div class="card card-body">
          <pre>{{ void_desc["ttl"] }}</pre>
        </div>
      </div>
      <div class="collapse" id="voidXML">
        <div class="card card-body">
          <pre>{{ void_desc["xml"] }}</pre>
        </div>
      </div>

      <!-- Statistics -->
      <h3><i class="fas fa-clipboard-list"></i> Statistics</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>RDF triples</th>
              <th>Subjects</th>
              <th>Predicates</th>
              <th>Objects</th>
              <th>Time quota</th>
              <th>Max results per request</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ "{:,}".format(dataset_info["stats"]["size"]) }} triples</td>
              <td>{{ "{:,}".format(dataset_info["stats"]["nb_subjects"]) }}</td>
              <td>{{ "{:,}".format(dataset_info["stats"]["nb_predicates"]) }}</td>
              <td>{{ "{:,}".format(dataset_info["stats"]["nb_objects"]) }}</td>
              <td>{{ dataset_info["timeQuota"] }}ms</td>
              {%- if dataset_info["maxResults"] == 'inf' -%}
                <td>No limit</td>
              {%- else -%}
                <td>{{dataset_info["maxResults"]}} bindings</td>
              {%- endif -%}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
