<div class="container" id="datasets">
  <div class="row">
    <div class="col">
      <h2><i class="fas fa-database"></i> RDF Datasets available</h2>
      <p>Query these RDF datasets using the <a href="https://github.com/sage-org/sage-jena/releases/tag/1.0-SNAPSHOT">Java</a> or <a href="https://github.com/sage-org/sage-client">Javascript</a> client</p>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Dataset</th>
              <th>Description</th>
              <th>RDF triples</th>
              <th>Time quantum</th>
              <th>Max results per HTTP request</th>
              <th>VoID description</th>
              <th>More details</th>
            </tr>
          </thead>
          <tbody>
            {% for graph in dataset %}
            <tr>
              <td>
                <a href="{{ url_for('sparql-interface.sparql_query', graph_name=graph["schema:name"]) }}">
                  {{ graph["schema:name"] }}
                </a>
              </td>
              <td>{{ graph["schema:description"] }}</td>
              <td>{{ "{:,}".format(graph["void:triples"]) }} triples</td>
              <td>{{graph["sage:timeQuota"]}}ms</td>
              {%- if graph["sage:maxResults"] == 'inf' -%}
              <td>No limit</td>
              {%- else -%}
              <td>{{graph["sage:maxResults"]}} bindings</td>
              {%- endif -%}
              <td><a target="_blank" href="{{ url_for('void-interface.void_dataset', graph_name=graph["schema:name"]) }}"><i class="fas fa-external-link-alt"></i> Open</a></td>
              <td><a target="_blank" href="{{ url_for('sparql-interface.sparql_query', graph_name=graph["schema:name"]) }}"><i class="fas fa-external-link-alt"></i> Open</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    </div>
  </div>
</div>
